/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #ffffff;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

textboxlabels {
    font-family: Tahoma;
    font-weight: 600;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    /*   width: 960px;*/
    background-color: #fff;
    margin: 0 auto;
    border: 0px solid #496077;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
    color: #000080;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.customerDataPanel {
    margin: 20px 8px 8px 8px;
    padding: 20px 12px;
}

.main
{
/*
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
*/
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

/* Controls the menu color, the same menu that is displayed via the site.master on every page */
div.hideSkiplink {
    background-color: #0167BB;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

/* Menu Options Background and foreground*/
div.menu ul li a, div.menu ul li a:visited {
    background-color: #0167BB;
    border: 0px #4e667d solid;
    color: #ffffff;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

div.menu ul li a:hover {
    background-color: #91B4CE;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active {
    background-color: #FFFFFF;
    color: #0066CC;
    text-decoration: none;
}



/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* ..................................... Images ..................................*/
#mainLogo {
    background-image: url(http://www.canoncity.com/sites/default/files/2edwardjones.gif);
    height: 410px;
    width: 548px;
    background-repeat: no-repeat;
    visibility: visible;
}

   input, select, textarea {
    /*    border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;*/
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;

        display: block;
        border: 1px solid rgba(255,255,255,0.6);
        background: linear-gradient(#eee, #fff);
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
        color: #555;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
            outline: none;
            background-position: 0 -1.7em;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }


   .iframe-wrapper {
    width: auto;
    margin: 0;
    }

    .iframe-1024-old {
    border-style: none;
    width: 156%;
    -moz-transform:scale(0.64);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.64);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.64);
    -webkit-transform-origin: 0 0;
    margin-right: -100%;
    }

    
.iframe-1024 {
    border-style: none;
    width: 156%;
    height: 956px;
    -moz-transform:scale(0.64);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.64);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.64);
    -webkit-transform-origin: 0 0;
    margin-right: -100%;
}
.iframe-1280 {
    border-style: none;
    width: 125%;
    height: 956px;
    -moz-transform:scale(0.80);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.80);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.80);
    -webkit-transform-origin: 0 0;
    margin-right: -100%;
}
.iframe-bigger {
    border-style: none;
    width: 100%;
    height: 956px;
    -moz-transform:scale(1.00);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.00);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.00);
    -webkit-transform-origin: 0 0;
    margin-right: -100%;
}

.CenterContent
{
    position: absolute;
    width:100%;
    margin-top:5%;
    margin-bottom:10%;
    margin-left:10%;
    margin-right:10%;
}

.SignedDocumentsLabel
{
    font-variant-caps:small-caps;
    font-weight:bold;
    font-size:x-large;
}

.SignedDocuments
{
    background-color:navy;
}



